.User {
    margin: 10px;
}

.User div {
    display: grid;
    grid-template-columns: 94% 6%;
}

.User div .user_name {
    color: black;
    font-weight: 550;
    font-size: 22px;
    text-align: end;
    text-decoration: none;
}

/* .User div .logout_icon {
    position: relative;
    color: crimson;
    font-size: 24px;
    text-align: end;
    align-self: center;
    right: 20px;
} */
.User hr {
    color: black;
    height: 1px;
    font-weight: 600;
    background: black;
    /* margin-top: 35px; */
}
